@model IEnumerable<CrmTechTitans.Models.Opportunity>

@{
    ViewData["Title"] = "All Opportunities";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="crm-container">
    <!-- Main Content -->
    <div class="main-content">

        <header class="page-header">
     
        </header>

        <section class="members-table-container">
            <table class="table custom-table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Status</th>
                        <th>Description</th>
                        <th>Priority</th>
                        <th>Associated Members</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)

                    {
                        <tr>
                            <td>@item.Title</td>
                            <td>@item.Status</td>
                            <td>@item.Description</td>
                            <td>@item.Priority</td>
                            <td>
                                @(item.MemberOpportunities.Any()
                                    ? string.Join(", ", item.MemberOpportunities
                                    .Where(mo => mo.Member != null)
                                    .Select(mo => mo.Member.MemberName))
                                    : "No Member Associated")
                            </td>
                            <td class="text-center action-buttons">
                                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-sm btn-edit">
                                    Edit
                                </a>
                                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-sm btn-details">
                                    Details
                                </a>
                              
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>
    </div>
</div>
