@model IEnumerable<CrmTechTitans.Models.Contact>

@{
    ViewData["Title"] = "Contact Index";
}

<link rel="stylesheet" href="~/css/tables.css" />

<div class="container">
    <h1>Contact Index</h1>
    <div class="create-new">
        <a asp-action="Create">Create New</a>
    </div>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.FullFormalName)</th>
                    <th>Member</th>
                    <th>Contact Type</th>
                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                    <th>@Html.DisplayNameFor(model => model.Phone)</th>
                    <th>@Html.DisplayNameFor(model => model.Linkedin)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.FullFormalName)</td>
                        <td>
                            @if (item.MemberContacts.Any())
                            {
                                @string.Join(", ", item.MemberContacts
                                         .Where(mc => mc.Member != null)
                                         .Select(mc => mc.Member.MemberName))
                            }
                            else
                            {
                                <span class="no-data">No Member associated</span>
                            }
                        </td>
                        <td>
                            @if (item.MemberContacts.Any())
                            {
                                @foreach (var memberContact in item.MemberContacts)
                                {
                                    <div>@memberContact.ContactType</div>
                                }
                            }
                            else
                            {
                                <span class="no-data">No Contact Type available</span>
                            }
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                        <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                        <td>@Html.DisplayFor(modelItem => item.Linkedin)</td>
                        <td>
                            <div class="actions">
                                <a asp-action="Edit" asp-route-id="@item.ID" class="edit">Edit</a>
                                <a asp-action="Details" asp-route-id="@item.ID" class="details">Details</a>
                                <a asp-action="Delete" asp-route-id="@item.ID" class="delete">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>