@model IEnumerable<CrmTechTitans.Models.Interaction>

@{
    ViewData["Title"] = "All Interactions";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="crm-container">
    <!-- Main Content -->
    <div class="main-content">

        <header class="page-header">
      
        </header>

        <section class="members-table-container">
            <table class="table custom-table">
                <thead>
                    <tr>
                        <th>Associated Members</th>
                        <th>Interaction</th>
                        <th>Date</th>
                        <th>Person</th>
                        
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)

                    {
                        <tr>
                            <td>
                                @(item.InteractionMembers.Any()
                                    ? string.Join(", ", item.InteractionMembers
                                    .Where(im => im.Member != null)
                                    .Select(im => im.Member.MemberName))
                                    : "No Member Associated")
                            </td>
                            <td>@item.interaction</td>
                            <td>@item.Date</td>
                            <td>@item.Person</td>
                            
                            <td class="text-center action-buttons">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-edit">
                                    Edit
                                </a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-details">
                                    Details
                                </a>
                             
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>
    </div>
</div>
