@model IEnumerable<CrmTechTitans.Models.Interaction>

@{
    ViewData["Title"] = "All Interactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content">
    <header class="page-header">
        <h1>All Interactions</h1>
        <p>Browse the list of interactions recorded for members. Use the "Create New Interaction" button to log a new interaction.</p>
        <a asp-action="Create" class="btn btn-primary custom-btn-spacing">Create New Interaction</a>
    </header>

    <section class="members-grid">
        @foreach (var item in Model)
        {
            <div class="member-card">
                <div class="member-card-header">
                    <div class="member-info">
                        <h2 class="member-name">@item.interaction</h2>
                        <p class="member-type">
                            @if (item.InteractionMembers.Any())
                            {
                                @string.Join(", ", item.InteractionMembers
                                         .Where(im => im.Member != null)
                                         .Select(im => im.Member.MemberName))
                            }
                            else
                            {
                                <span>No Member associated</span>
                            }
                        </p>
                    </div>
                </div>
                <div class="member-card-content">
                    <div class="member-detail">
                        <i class="fas fa-comments"></i>
                        <span>@item.interaction</span>
                    </div>
                </div>
                <div class="member-card-footer">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">
                        <i class="fas fa-edit"></i> Edit
                    </a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">
                        <i class="fas fa-info-circle"></i> Details
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">
                        <i class="fas fa-trash-alt"></i> Delete
                    </a>
                </div>
            </div>
        }
    </section>
</div>
