@model IEnumerable<CrmTechTitans.Models.Address>

@{
    ViewData["Title"] = "All Addresses";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="crm-container">
    <!-- Main Content -->
    <div class="main-content">

        <header class="page-header">
            
        </header>

        <section class="members-table-container">
            <table class="table custom-table">
                <thead>
                    <tr>
                        <th>Members</th>
                      
                        <th>Municipality</th>
                        <th>Province</th>
                       
                       
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)

                    {
                        <tr>
                            <td>
                                @(item.MemberAddresses.Any()
                                    ? string.Join(", ", item.MemberAddresses
                                    .Where(ma => ma.Member != null)
                                    .Select(ma => ma.Member.MemberName))
                                    : "No Member Associated")
                            </td>
                           
                            <td>@item.City</td>
                            <td>@item.Province</td>
                           
                           
                            <td class="text-center action-buttons">
                                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-sm btn-edit">
                                    Edit
                                </a>
                                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-sm btn-details">
                                    Details
                                </a>
                               
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>
    </div>
</div>
